<div class="container py-5 d-flex justify-content-center align-items-center flex-column">
  <div class="quiz-banner mb-4 text-center">
    <img src="assets/banner.jpg" alt="Quiz" class="quiz-banner-img rounded-circle mx-auto d-block">
    <h2 class="quiz-title mt-3 text-primary fw-bold">Smart Future Quiz!</h2>
    <div class="quiz-step text-white mt-2 mb-3 px-3 py-1 rounded-pill">
      Question {{ currentIndex + 1 }} of {{ questions.length }}
    </div>
  </div>

  <div class="quiz-card card shadow rounded-5 p-4 mb-4 w-100" style="max-width:520px; background:rgba(255,255,255,0.95);">
    <h4 class="card-title text-dark mb-3 fw-semibold">
      <i class="bi bi-patch-question text-primary me-2"></i>{{ currentQuestion.text }}
    </h4>

    <form (ngSubmit)="submitAnswer()" *ngIf="!quizFinished" #quizForm="ngForm">
      <div class="mb-2" *ngFor="let option of currentQuestion.options; let idx = index">
        <label class="quiz-option w-100 d-flex align-items-center" [for]="'option' + idx">
          <input type="radio"
                 id="{{ 'option' + idx }}"
                 name="quizOptions"
                 [value]="option"
                 [(ngModel)]="selectedOption"
                 required>
          <span class="ms-3">{{ option.label }}</span>
        </label>
      </div>

      <button type="submit"  class="btn btn-gradient mt-4 w-100 fw-bold">
  {{ currentIndex === questions.length - 1 ? 'Finish' : 'Next' }}
</button>

    </form>

    <div *ngIf="quizFinished" class="text-center">
  <h4 class="fw-bold text-success my-4">Quiz Completed!</h4>
  <p>Your recommended stream is:</p>
  <p id="result" class="fs-5">{{ quizResultMessage }}</p>
  <button class="btn btn-outline-primary mt-3" (click)="resetQuiz()">Try Again</button><br>
    <button
  class="btn btn-primary mt-3"
  (click)="viewRoadmap()">
  View My Roadmap
</button>

</div>

  </div>
</div>
